body {
    font-family: 'Raleway';
    background-color: black;
    color: white;

}
.titulo {
    display: flex;    
    justify-content: space-around;
    text-align: center;

}
.imagem {
    text-align: center;
    margin-top: -430px;
}
.capa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;          
    
}
.capao {
    background-color: #CA7900;
    border-radius: 40px;
    width: 1238px; 
    height: 257px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}
p {
    
    font-size: 58px;

}
#casa {
    font-size: 40px;
}
#tempo {
    font-size: 45px;
    text-align: center;
    
}



button {
    background-color: #CA7900;
    border-radius: 10px;
    height: 76px;
    width: 225px;
    font-size: 36px;
    color: white;
   border: 7px solid white;
   padding: 5px 30px 5px 30px;
   margin-left: 40px;
   margin-right: 40px;

    
}
#cara {
    text-align: center;
    
}
